.turn {
  width: 100%;
  height: 550px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.menuToggle {
  z-index: 9999999;
  position: absolute;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  border-width: 1px;
  border-color: black;
  height: 82px;
  width: 83px;
  left: 25px;
  top: 5px;
  cursor: pointer;
  box-shadow: 1px 1px -1px -1px  #FFFFFF;

  &:active {
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255,255,255,0.2);
      border-radius: 50%;
      border: none;
    }
  }
}

.timeTrialToggle {
  z-index: 9999999;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  border-radius: 50%;
  border-width: 1px;
  border-color: black;
  height: 46px;
  width: 40px;
  left: 32px;
  bottom: 138px;
  cursor: pointer;

  &:active {
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.2);
      border-color: black;
      border-radius: 50%;
      border: none;
    }
  }
  @media screen and (max-width: 500px){
    height: 46px;
    width: 36px;
    left: 29px;
    bottom: 138px;
  }
}

.pkmnSprite {
  position: absolute;

  top: 32%;
  left: 16%;
  width: 130px;
  height: auto;
}
.pkmnSpriteShowing {
  animation: appear 0.5s reverse;
}
@keyframes appear {
  from {
    width: 130px;
    top: 32%;
    left: 16%;
  }
  to {
    width: 170px;
    top: 29%;
    left: 13%;
  }
}

.pokedexGlow {
  position: absolute;
  left: 3.3%;
  top: 0.2%;
  height: 90px;
  width: 90px;
}

@font-face {
  font-family: calculator;
  src: url(../../resources/fonts/digital-7.ttf);
}

.scorePanel {
  position: absolute;
  top: 420px;
  left: 60px;
}

.currentScoreLabel {
  position: absolute;
  top: 420px;
  left: 75px;
  font-family: calculator;
  font-weight: bold;
  font-size: 20px;
  color: black;

  @media screen and (max-width: 500px){
    top: 422px;
    left: 76px;
    font-size: 12px;
  }
}
.highScoreLabel {
  position: absolute;
  top: 453px;
  left: 127px;
  font-family: calculator;
  font-weight: bold;
  font-size: 20px;
  color: white;

  @media screen and (max-width: 500px){
    top: 455px;
    left: 150px;
    font-size: 12px;
  }
}
.currentScore {
  position: absolute;
  top: 435px;
  left: 75px;
  font-family: calculator;
  font-weight: bold;
  font-size: 30px;
  color: black;

  @media screen and (max-width: 500px){
    top: 435px;
    left: 75px;
    font-size: 16px;
  }
}
.highScore {
  position: absolute;
  top: 446px;
  left: 169px;
  font-family: calculator;
  font-weight: bold;
  font-size: 27px;
  color: white;

  @media screen and (max-width: 500px){
    top: 432px;
    left: 164px;
    font-size: 16px;
  }
}

.timeLeftLabel {
  position: absolute;
  top: 422px;
  left: 80px;
  font-family: calculator;
  font-weight: bold;
  font-size: 20px;
  color: black;

  @media screen and (max-width: 500px){
    font-size: 12px;
  }
}
.timeLeft {
  position: absolute;
  top: 436px;
  left: 80px;
}
.timeLeft > .number {
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: black;

  @media screen and (max-width: 500px){
    font-size: 20px;
  }
}
.timeLeft > .unit {
  font-family: pokemon;
  font-weight: bold;
  font-size: 21px;
  color: black;

  @media screen and (max-width: 500px){
    font-size: 10px;
  }
}
.timeAdded {
  position: absolute;
  top: 436px;
  left: 128px;
  animation: blink 0.2s steps(1, start) infinite;
}
.timeAdded > .number {
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: green;

  @media screen and (max-width: 500px){
    font-size: 20px;
  }
}
.timeAdded > .unit {
  font-family: pokemon;
  font-weight: bold;
  font-size: 21px;
  color: green;

  @media screen and (max-width: 500px){
    font-size: 10px;
  }
}
.timeDiscounted {
  position: absolute;
  top: 436px;
  left: 128px;
  animation: blink 0.3s steps(1, start) infinite;
}
.timeDiscounted > .number {
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: red;

  @media screen and (max-width: 500px){
    font-size: 20px;
  }
}
.timeDiscounted > .unit {
  font-family: pokemon;
  font-weight: bold;
  font-size: 21px;
  color: red;

  @media screen and (max-width: 500px){
    font-size: 10px;
  }
}

@keyframes blink {
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
