.respuestas {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 5000;
  overflow: hidden;
  padding: 5px 10px;
  background-color: rgba(10, 225, 30, 1);
  border-radius: 10px;
  border: 5px double rgb(1, 1, 1);
  
  position: absolute;
  top: 27%;
  left: 57%;
  height: 340px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,1);
}

.answer {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  width: 220px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: aliceblue;
  border-bottom: 4px solid grey;
  transition: all 0.2s ease;
}

.answer:focus {
  outline: none;
}

.answer > p {
  font-family: pokemon;
  color: black;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;

  @media screen and (max-width: 700px){
    font-size: 11px;
  }
}
.answer:hover {
  transform: translateY(-1px);
  background-color: rgb(236, 236, 236);
}
.answer:active {
  transform: translateY(1px);
  background-color: #fff;
  border-bottom: 2px solid grey;
  outline: none;
}

.correctAnswer {
  background-color: green;
  border-bottom: 4px solid rgb(23, 80, 23);
}
.wrongAnswer {
  background-color: red;
  border-bottom: 4px solid rgb(87, 19, 19);
}
.correctAnswer:hover {
  background-color: green;
}
.wrongAnswer:hover {
  background-color: red;
}
.correctAnswer:active {
  background-color: green;
  border-bottom: 2px solid rgb(23, 80, 23);
}
.wrongAnswer:active {
  background-color: red;
  border-bottom: 2px solid rgb(97, 20, 20);
}
