.pokeModal {
  width: 100%;
  height: 550px;

  .menu {
    position: absolute;
    z-index: 9000;
    overflow: hidden;
    top: 27%;
    left: 57%;
    width: 254px;
    height: 340px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    border: 3px double rgb(255, 255, 255, 1);
    pointer-events: all;
  }
}

.pokemonEncountered {
  position: absolute;
  z-index: 100000;
  left: 57px;
  top: 28%;
  width: 210px;
  height: 155px;
  overflow: hidden;
  border: black solid 4px;
  background-color: black;
  border-radius: 10px;
}
.pokemonsEncounteredTitle {
  color: whitesmoke;
  max-width: 100%;
  font-size: 1.3em;
  display: block;
  height: 10%;
  text-align: center;
  margin-bottom: 0;
}
.scrollBarRemover {
  height: 90%;
  width: 100%;
  overflow: hidden;
}
.encounteredPokemonList {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-left: 7%;
  padding-right: 20px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}
.encounteredPokemonList > li {
  float: left;
  max-width: 48%;
  margin-bottom: 5px;
}

.encounteredPokemonList > li:nth-child(even) {
  margin-left: 4%;
}

.encounteredPokemon {
  width: 100%;
}

@media only screen and (max-width: 990px) {
  .encounteredPokemonPanel {
    display: none;
  }
}

.modalEncounteredPokemonPanel {
  border: none;
}

.pokemonEncounteredList {
  width: 254px;
  max-height: 155px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-y: scroll;
}

.pokemonEncounteredImg {
  width: 40px;
  height: 40px;
}