.turn {
  height: 600px;
  position: relative;
  display: inline-block;
}

.pkmnSprite {
  position: absolute;

  top: 30%;
  left: 16%;
  width: 130px;
  height: auto;
}
.pkmnSpriteShowing {
  animation: appear 0.5s reverse;
}
@keyframes appear {
  from {
    width: 130px;
    top: 30%;
    left: 16%;
  }
  to {
    width: 170px;
    top: 27%;
    left: 13%;
  }
}

.pokedex {
  z-index: -999;
}

.respuestas {
  position: absolute;
  top: 31%;
  left: 59.5%;
}

.pokedexGlow {
  position: absolute;
  left: 3.3%;
  top: 0.2%;
  height: 90px;
  width: 90px;
}

@font-face {
  font-family: calculator;
  src: url(../../resources/digital-7.ttf);
}

.scorePanel {
  position: absolute;
  top: 72.6%;
  left: 11.5%;
}

.currentScoreLabel {
  position: absolute;
  top: 68.7%;
  left: 14%;
  font-family: calculator;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.bestStreakLabel {
  position: absolute;
  top: 82%;
  left: 23.5%;
  font-family: calculator;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.currentScore {
  position: absolute;
  top: 72%;
  left: 14%;
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: black;
}
.bestStreak {
  position: absolute;
  top: 75%;
  left: 24%;
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: white;
}
