.turn {
  height: 550px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.pkmnSprite {
  position: absolute;

  top: 32%;
  left: 16%;
  width: 130px;
  height: auto;
}
.pkmnSpriteShowing {
  animation: appear 0.5s reverse;
}
@keyframes appear {
  from {
    width: 130px;
    top: 32%;
    left: 16%;
  }
  to {
    width: 170px;
    top: 29%;
    left: 13%;
  }
}

.pokedex {
  z-index: -999;
}

.respuestas {
  position: absolute;
  top: 33%;
  left: 59.5%;
}

.pokedexGlow {
  position: absolute;
  left: 3.3%;
  top: 0.2%;
  height: 90px;
  width: 90px;
}

@font-face {
  font-family: calculator;
  src: url(../../resources/fonts/digital-7.ttf);
}

.scorePanel {
  position: absolute;
  top: 78.6%;
  left: 11.5%;
}

.currentScoreLabel {
  position: absolute;
  top: 74.5%;
  left: 14%;
  font-family: calculator;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.highScoreLabel {
  position: absolute;
  top: 88.8%;
  left: 23.5%;
  font-family: calculator;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.currentScore {
  position: absolute;
  top: 78%;
  left: 14%;
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: black;
}
.highScore {
  position: absolute;
  top: 81.5%;
  left: 24%;
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: white;
}

.timeLeftLabel {
  position: absolute;
  top: 74.5%;
  left: 14%;
  font-family: calculator;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.timeLeft {
  position: absolute;
  top: 80%;
  left: 14.5%;
}
.timeLeft > .number {
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: black;
}
.timeLeft > .unit {
  font-family: pokemon;
  font-weight: bold;
  font-size: 21px;
  color: black;
}
.timeAdded {
  position: absolute;
  top: 80%;
  left: 20.5%;
  animation: blink 0.2s steps(1, start) infinite;
}
.timeAdded > .number {
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: green;
}
.timeAdded > .unit {
  font-family: pokemon;
  font-weight: bold;
  font-size: 21px;
  color: green;
}
.timeDiscounted {
  position: absolute;
  top: 80%;
  left: 20.5%;
  animation: blink 0.3s steps(1, start) infinite;
}
.timeDiscounted > .number {
  font-family: calculator;
  font-weight: bold;
  font-size: 35px;
  color: red;
}
.timeDiscounted > .unit {
  font-family: pokemon;
  font-weight: bold;
  font-size: 21px;
  color: red;
}

@keyframes blink {
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
