.turn {
  height: 600px;
  position: relative;
  display: inline-block;
}

.pkmnSprite {
  position: absolute;

  top: 30%;
  left: 16%;
  width: 130px;
  height: auto;
}
.pkmnSpriteShowing {
  animation: appear 0.5s reverse;
}
@keyframes appear {
  from {
    width: 130px;
    top: 30%;
    left: 16%;
  }
  to {
    width: 170px;
    top: 27%;
    left: 13%;
  }
}

.pokedex {
  z-index: -999;
}

.respuestas {
  position: absolute;
  top: 31%;
  left: 59.5%;
}
