.rotomDex {
  position: absolute;
  top: 43%;
  left: 100vw;
  width: 450px;
  pointer-events: none;
  z-index: 99999500;
}

.rotomDexShowing {
  animation-name: rotomdexEntry;
  animation-timing-function: ease-in-out;
}

@keyframes rotomdexEntry {
  0% {
    left: 100vw;
  }

  10% {
    left: 30%;
  }

  90% {
    left: 30%;
  }

  100% {
    left: 100vw;
  }
}

.rotomDexContainer {
  position: relative;
}

.rotomDexContainer > p {
  font-family: pokemon;
  font-size: 11px;
  color: black;
  position: absolute;
  top: 10%;
  left: 4%;
  width: 200px;
  height: 90px;
  overflow: hidden;
  white-space: pre;
  line-height: 1.6;

  @media screen and (max-width: 500px){
    top: 10%;
    left: 4%;
    font-size: 10px !important;
    line-height: 1.5;
  }
}
.rotomDexContainer > img {
  pointer-events: none;
  width: 450px;
}

.rotomResponseForCorrectAnswer > p {
  margin-top: -5px;
  font-size: 15px;
}
.rotomResponseForWrongAnswer > p {
  margin-top: -5px;
  font-size: 15px;
}
.rotomResponseForTimeTrialStart > p {
  margin-top: 0px;
  margin-left: 7px;
  font-size: 15px;
}
.rotomResponseForTimeTrialFinished > p {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 13px;
}
