.genFilter {
  z-index: 10000;
  position: absolute;
  left: 35px;
  top: 0;
  height: 305px;
  width: 190px;
}

.genSelectTitle {
  color: white;
  font-size: 1.5em;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;
  line-height: 0.95em;
  font-family: game_version;
  width: 125px;
  height: 30px;
  white-space: pre;
  padding: 10px;

  @media screen and (max-width: 700px){
    font-size: 16px;
    margin-left: 0;
    padding-left: 0;
  }
}

.genButton {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;

  & > h4 {
    color: white;
    font-size: 1.5em;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
      3px 3px 0 #000;
    line-height: 0.95em;
    font-family: game_version;
    width: 125px;
    height: 30px;
    white-space: pre;

    @media screen and (max-width: 700px){
      font-size: 1.2em;
      line-height: 0.95em;
      height: 28px;
    }
  }

  &:active {
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.2);
    }
  }
}

#tick {
  margin: 0px 10px;
  height: 30px;
  width: 25px;
  display: inline-block;
}

#kalos {
  & > h4 {
    margin: 0;
    padding-top: 2px;
    font-size: 1.9em;
    @media screen and (max-width: 700px){
      font-size: 1.2em;
      line-height: 0.95em;
      height: 30px;
    }
  }

}